<div ng-include="'partials/navbar'"></div>

<div class="row marketing">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th data-column-ordering data-field-name="surname" data-field="orderByField" data-direction="orderByDirection">Surname</th>
        <th  data-column-ordering data-field-name="email" data-field="orderByField" data-direction="orderByDirection">Email</th>
        <th  data-column-ordering data-field-name="phone" data-field="orderByField" data-direction="orderByDirection">Phone</th>
        <th  data-column-ordering data-field-name="address" data-field="orderByField" data-direction="orderByDirection">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.surname}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.address}}</td>
      </tr>
    </tbody>
  </table>

  <div class="well">
    <div>
      <pagination total-items="totalContacts" page="page" items-per-page="count"></pagination>
    </div>
    <div>
      <label>Items per page:</label> <select ng-model="count" ng-options="c for c in counts"></select>
    </div>
  </div>
</div>
