<div ng-include="'partials/navbar'"></div>

<div class="row marketing" ng-controller="ContactsListCtrl">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th data-column-ordering data-field-name="surname" data-field="orderByField" data-direction="orderByDirection">Surname</th>
        <th  data-column-ordering data-field-name="email" data-field="orderByField" data-direction="orderByDirection">Email</th>
        <th  data-column-ordering data-field-name="phone" data-field="orderByField" data-direction="orderByDirection">Phone</th>
        <th  data-column-ordering data-field-name="address" data-field="orderByField" data-direction="orderByDirection">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts" ng-click="selectContact(contact)">
        <td>{{contact.name}}</td>
        <td>{{contact.surname}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.address}}</td>
      </tr>
    </tbody>
  </table>

  <div class="list-footer well well-sm">
    <form class="form-inline" role="form">

      <div class="form-group">
        <pagination total-items="totalContacts" page="page" items-per-page="count"></pagination>
      </div>
      
      <div  class="form-group">
        <label for="itemsPerPage">Items per page</label>
        <select id="itemsPerPage" class="form-control" ng-model="count" ng-options="c for c in counts"></select>
      </div>

    </form>
  </div>
</div><!-- row -->

<div class="row marketing" ng-controller="ContactsEditCtrl">
  
  <form role="form" ng-submit="updateContact()">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" placeholder="Name" ng-model="editingContact.name">
        </div>
        
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" id="surname" class="form-control" placeholder="Surname" ng-model="editingContact.surname">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" placeholder="Email" ng-model="editingContact.email">
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" class="form-control" placeholder="Phone" ng-model="editingContact.phone">
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" class="form-control" placeholder="Address" ng-model="editingContact.address">
        </div>

      </div><!-- .panel-body -->
        
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <button type="button" class="btn btn-default" ng-click="clearContact()">Reset</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div><!-- .panel-footer -->

    </div><!-- .panel -->

  </form>

</div><!-- row -->
